.search-form {
  background-color: #202020;
  font-family: 'inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 80px 0 10px;
}

.search-form__input-field {
  display: flex;
  column-gap: 10px;
}

.search-form__input-text {
  box-sizing: border-box;
  border: none;
  outline: none;
  min-width: 238px;
  border-radius: 8px;
  padding: 13px;
  color: #fff;
  background-color: #2f2f2f;
  font-size: 14px;
}

.search-form__button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #4285F4;
  min-width: 44px;
  min-height: 44px;
  padding: 0;
  position: relative;
}

.search-form__button::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #fff;
  top: 7px;
  left: 7px;
}

.search-form__button::after {
  box-sizing: border-box;
  border: 2px solid #fff;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  left: 14px;
  top: 17px;
}

.search-form__checkbox-field {
  display: flex;
  column-gap: 13px;
  padding-bottom: 42px;
  border-bottom: 1px solid #424242;
  min-width: 292px;
  justify-content: center;
}

.search-form__input-span {
  margin: 0;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .search-form {
    row-gap: 44px;
  }

  .search-form__input-text {
    min-width: 654px;
    padding: 17px 0 17px 20px;
  }

  .search-form__input-field {
    align-items: center;
  }

  .search-form__checkbox-field {
    min-width: 708px;
  }

  .search-form__button {
    max-height: 44px;
  }

  .search-form__input-span {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    row-gap: 32px;
  }

  .search-form__input-text {
    min-width: 1086px;
  }

  .search-form__checkbox-field {
    min-width: 1140px;
  }
}